synapse/pipeline/PL - Copy Weather Data.json
{
	"name": "PL - Copy Weather Data",
	"properties": {
		"activities": [
			{
				"name": "Copy Weather Data - Brussels",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get API Key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_rest_owm_json",
						"type": "DatasetReference",
						"parameters": {
							"appid": {
								"value": "@activity('Get API Key').output.value",
								"type": "Expression"
							},
							"lat": "50",
							"lon": "4"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_synw_json",
						"type": "DatasetReference",
						"parameters": {
							"tier": "bronze",
							"dateAndTimeOfImport": {
								"value": "@pipeline().parameters.dateAndTimeOfImport",
								"type": "Expression"
							},
							"location": "brussels"
						}
					}
				]
			},
			{
				"name": "Get API Key",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://mlcicd-kv-001.vault.azure.net/secrets/openweathermap-api-key/e81899b254ad4eea8abcf5cf713b9d02?api-version=7.0",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"dateAndTimeOfImport": {
				"type": "string"
			}
		},
		"folder": {
			"name": "P01 - Data Ingestion"
		},
		"annotations": []
	}
}